{% extends 'base.html' %}


{% block title %}Articles{% endblock %}

{% block content %}
    {% for article in object_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
        </div>
        <div class="card-body">
            {{ article.body }}&middot;
            <div class="col-lg-2">
                <input class="btn btn-primary btn-sm" type="submit" value="Like" name='article_like_btn'>
            </div> &middot;
            {{ article.article_likes.count }}
        </div>
        <div class="card-footer text-center text-muted">
            <a href="{% url 'article_update' article.pk %}">Edit</a> |
            <a href="{% url 'article_delete' article.pk %}">Delete</a>
        </div>
        <div class="card-footer">
            {% for comment in article.comments.all %}
            <p>
                <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                {{ comment }}&middot;
                <div class="col-lg-2">
                    <input class="btn btn-primary btn-sm" type="submit" value="Like" name='comment_like_btn'>
                </div> &middot;
                {{ comment.comment_likes.count }}
            </p>
            <div class="card-footer">
                {% for reply in comment.replies.all %}
                <p>
                    <span class="font-weight-bold">{{ reply.author }} &middot;</span>
                    {{ reply }}&middot;
                    <div class="col-lg-2">
                        <input class="btn btn-primary btn-sm" type="submit" value="Like" name='reply_like_btn'>
                    </div> &middot;
                    {{ reply.reply_likes.count }}
                </p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <br /> 
    {% endfor %}
{% endblock content %}
